@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Location de Mobil-Home</h1>
    <img src="http://www.azurresidencemobile.fr/public/img/medium/DECLIK-2CIO-EXT%20[1600x1200].jpg" />
    <p>La résidence idéale pour ceux qui veulent tout</p>
</div>

